# your unique broker identifier
BROKER_TOKEN=

# your personal username to your bitbucket server account
BITBUCKET_USERNAME=

# your personal password to your bitbucket server account
BITBUCKET_PASSWORD=

# the host where your Bitbucket Server is running, excluding scheme.
# for bitbucket.yourdomain.com
# this should be "bitbucket.yourdomain.com"
BITBUCKET=

# the url that the Bitbucket server API should be accessed at.
# for bitbucket.yourdomain.com this should be
# changed to "bitbucket.yourdomain.com/rest/api/1.0"
BITBUCKET_API=$BITBUCKET/rest/api/1.0

# the url of your broker client (including scheme and port)
# BROKER_CLIENT_URL=

# The URL of the Snyk broker server
BROKER_SERVER_URL=https://broker.snyk.io

# the fine detail accept rules that allow Snyk to make API requests to your
# bitbucket server instance
ACCEPT=accept.json
