{
  "public":
  [
      {
        "//": "used for pushing up webhooks from bitbucket-server",
        "method": "POST",
        "path": "/webhook/bitbucket-server/:webhookId"
      }
  ],
  "private":
  [
    {
      "//": "list the user's projects",
      "method": "GET",
      "path": "/projects",
      "origin": "https://${BITBUCKET_USERNAME}:${BITBUCKET_PASSWORD}@${BITBUCKET_API}"
    },
    {
      "//": "list the user's repos",
      "method": "GET",
      "path": "/repos",
      "origin": "https://${BITBUCKET_USERNAME}:${BITBUCKET_PASSWORD}@${BITBUCKET_API}"
     },
    {
      "//": "used to determine the full dependency tree",
      "method": "GET",
      "path": "/projects/:project/repos/:repo/browse*/package.json",
      "origin": "https://${BITBUCKET_USERNAME}:${BITBUCKET_PASSWORD}@${BITBUCKET_API}"
    },
    {
      "//": "used to determine the full dependency tree",
      "method": "GET",
      "path": "/projects/:project/repos/:repo/browse*/package-lock.json",
      "origin": "https://${BITBUCKET_USERNAME}:${BITBUCKET_PASSWORD}@${BITBUCKET_API}"
    },
    {
      "//": "used to determine the full dependency tree",
      "method": "GET",
      "path": "/projects/:project/repos/:repo/browse*/Gemfile.lock",
      "origin": "https://${BITBUCKET_USERNAME}:${BITBUCKET_PASSWORD}@${BITBUCKET_API}"
    },
    {
      "//": "used to determine the full dependency tree",
      "method": "GET",
      "path": "/projects/:project/repos/:repo/browse*/Gemfile",
      "origin": "https://${BITBUCKET_USERNAME}:${BITBUCKET_PASSWORD}@${BITBUCKET_API}"
    },
    {
      "//": "used to determine the full dependency tree",
      "method": "GET",
      "path": "/projects/:project/repos/:repo/browse*/pom.xml",
      "origin": "https://${BITBUCKET_USERNAME}:${BITBUCKET_PASSWORD}@${BITBUCKET_API}"
    },
    {
      "//": "used to determine the full dependency tree",
      "method": "GET",
      "path": "/projects/:project/repos/:repo/browse*/requirements.txt",
      "origin": "https://${BITBUCKET_USERNAME}:${BITBUCKET_PASSWORD}@${BITBUCKET_API}"
    },
    {
      "//": "used to determine the full dependency tree",
      "method": "GET",
      "path": "/projects/:project/repos/:repo/browse*/yarn.lock",
      "origin": "https://${BITBUCKET_USERNAME}:${BITBUCKET_PASSWORD}@${BITBUCKET_API}"
    },
    {
      "//": "used to determine the full dependency tree",
      "method": "GET",
      "path": "/projects/:project/repos/:repo/browse*/build.gradle",
      "origin": "https://${BITBUCKET_USERNAME}:${BITBUCKET_PASSWORD}@${BITBUCKET_API}"
    },
    {
      "//": "used to determine the full dependency tree",
      "method": "GET",
      "path": "/projects/:project/repos/:repo/browse*/build.sbt",
      "origin": "https://${BITBUCKET_USERNAME}:${BITBUCKET_PASSWORD}@${BITBUCKET_API}"
    },
    {
      "//": "used to check if there's any ignore rules or existing patches",
      "method": "GET",
      "path": "/projects/:project/repos/:repo/browse/.snyk",
      "origin": "https://${BITBUCKET_USERNAME}:${BITBUCKET_PASSWORD}@${BITBUCKET_API}"
    },
    {
      "//": "allow webhooks to be added, to allow commits to be checked by Snyk. Rules for what is sent to Snyk are controlled in the `public` accept filters",
      "method": "POST",
      "path": "/projects/:projectKey/repos/:repoSlug/webhooks",
      "origin": "https://${BITBUCKET_USERNAME}:${BITBUCKET_PASSWORD}@${BITBUCKET_API}"
    },
    {
      "//": "allow webhooks to be deleted, used to cleanup when a user deactivates or deletes a project",
      "method": "DELETE",
      "path": "/projects/:projectKey/repos/:repoSlug/webhooks/:webhookId",
      "origin": "https://${BITBUCKET_USERNAME}:${BITBUCKET_PASSWORD}@${BITBUCKET_API}"
    },
    {
      "//": "used to create commit status messages",
      "method": "POST",
      "path": "/rest/build-status/1.0/commits/:sha",
      "origin": "https://${BITBUCKET_USERNAME}:${BITBUCKET_PASSWORD}@${BITBUCKET}"
    }
  ]
}
