version: 2.1

defaults: &defaults
  docker:
    - image: cimg/node:18.16.0
  working_directory: ~/broker

commands:
  install_deps:
    description: Install dependencies
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: npm i
      - persist_to_workspace:
          root: .
          paths:
            - node_modules/

jobs:
  install_dev:
    <<: *defaults
    environment:
      NODE_ENV: development
    steps:
      - install_deps
  lint:
    <<: *defaults
    steps:
      - checkout
      - attach_workspace:
          at: ~/broker
      - run:
          name: Lint
          command: npm run lint
  lint_json_samples:
    <<: *defaults
    steps:
      - checkout
      - run:
          name: Run tests
          command: ./lintVerifier.sh
  test:
    <<: *defaults
    steps:
      - checkout
      - attach_workspace:
          at: ~/broker
      - run:
          name: Run tests
          command: npm test && npm run test:bin
  pkg:
    <<: *defaults
    steps:
      - checkout
      - attach_workspace:
          at: ~/broker
      - run:
          name: Package
          command: "npm run prepare && rm ./dist/client-templates/github && npx --yes pkg . --compress Brotli"
      - store_artifacts:
          path: binary-releases/snyk-broker-x64
          destination: artifact-snyk-broker
  release:
    <<: *defaults
    steps:
      - checkout
      - attach_workspace:
          at: ~/broker
      - run:
          name: Release to GitHub
          command: npx semantic-release@19.0.5

workflows:
  version: 2
  test_and_release:
    jobs:
      - install_dev:
          name: Install DEV
      - lint_json_samples:
          name: Lint json samples
      - test:
          name: Test
          requires:
            - Install DEV
      - lint:
          name: Lint
          requires:
            - Install DEV
      - pkg:
          name: Package
          requires:
            - Test
            - Lint
      - release:
          name: Release to GitHub
          context: nodejs-lib-release
          requires:
            - Test
            - Lint
          filters:
            branches:
              only:
                - master
