# your unique broker identifier
BROKER_ID=

# your personal access token to your github enterprise account
TOKEN=

# the host where your github enterprise is running, i.e. api.github.com, note
# that this doesn't include the API URL, as that's set in $GITHUB_API
GITHUB=

GITHUB_API=$GITHUB/api/v3

# optionally the client host (including port) - otherwise this defaults to localhost:$PORT
# BROKER_CLIENT_HOST=

# snyk specific configuration
BROKER_URL=https://broker.snyk.io

# the fine detail accept rules that allow snyk to make API requests to your
# github enterprise instance
ACCEPT=accept.json
