{
  "public":
  [
      {
        "//": "used for pushing up webhooks from github",
        "method": "POST",
        "path": "/",
        "valid": [
          {
            "path": "commits.*.added.*",
            "value": "package.json"
          },
          {
            "path": "commits.*.modified.*",
            "value": "package.json"
          },
          {
            "path": "commits.*.added.*",
            "value": ".snyk"
          },
          {
            "path": "commits.*.modified.*",
            "value": ".snyk"
          }
        ]
      }
  ],
  "private":
  [
    {
      "//": "used to determine the full dependency tree",
      "method": "GET",
      "path": "/:name/:repo/:branch/package.json",
      "origin": "https://${TOKEN}@${HOST}/raw"
    },
    {
      "//": "used to check if there's any ignore rules or existing patches",
      "method": "GET",
      "path": "/:name/:repo/:branch/.snyk",
      "origin": "https://${TOKEN}@${HOST}/raw"
    },

    {
      "//": "get details of the repo",
      "method": "GET",
      "path": "/repos/:name/:repo",
      "origin": "https://${TOKEN}@${HOST}"
    },
    {
      "//": "get a list of all the refs to match find whether an existing PR is open",
      "method": "GET",
      "path": "/repos/:name/:repo/git/refs",
      "origin": "https://${TOKEN}@${HOST}"
    },
    {
      "//": "get the details of an individual ref",
      "method": "GET",
      "path": "/repos/:name/:repo/git/refs/:ref",
      "origin": "https://${TOKEN}@${HOST}"
    },
    {
      "//": "search for open snyk pull requests",
      "method": "GET",
      "path": "/repos/:name/:repo/pulls",
      "origin": "https://${TOKEN}@${HOST}"
    },
    {
      "//": "add the individual commit for the pull requests",
      "method": "POST",
      "path": "/repos/:name/:repo/git/commits",
      "origin": "https://${TOKEN}@${HOST}"
    },
    {
      "//": "add commit data for new PR",
      "method": "POST",
      "path": "/repos/:name/:repo/git/refs",
      "origin": "https://${TOKEN}@${HOST}"
    },
    {
      "//": "create the ref to add the commits to",
      "method": "POST",
      "path": "/repos/:name/:repo/git/trees",
      "origin": "https://${TOKEN}@${HOST}"
    },
    {
      "//": "create the pull request",
      "method": "POST",
      "path": "/repos/:name/:repo/pulls",
      "origin": "https://${TOKEN}@${HOST}"
    },
    {
      "//": "update ref",
      "method": "PATCH",
      "path": "/repos/:name/:repo/git/refs/:sha",
      "origin": "https://${TOKEN}@${HOST}"
    }
  ]
}
