{
  "public":
  [
      {
        "//": "used for pushing up webhooks from gitlab",
        "method": "POST",
        "path": "/webhook/gitlab/:webhookId"
      }
  ],
  "private":
  [
    {
      "//": "identify user",
      "method": "GET",
      "path": "/api/v4/user",
      "origin": "https://${GITLAB}"
    },
    {
      "//": "list the user's projects",
      "method": "GET",
      "path": "/api/v4/projects",
      "origin": "https://${GITLAB}"
    },
    {
      "//": "list the user's projects",
      "method": "GET",
      "path": "/api/v3/projects",
      "origin": "https://${GITLAB}"
    },
    {
      "//": "list the user's visible projects",
      "method": "GET",
      "path": "/api/v3/projects/visible",
      "origin": "https://${GITLAB}"
    },
    {
      "//": "get a user's project",
      "method": "GET",
      "path": "/api/v3/projects/:project",
      "origin": "https://${GITLAB}"
    },
    {
      "//": "get a user's project",
      "method": "GET",
      "path": "/api/v4/projects/:project",
      "origin": "https://${GITLAB}"
    },
    {
      "//": "used to determine the full dependency tree",
      "method": "GET",
      "path": "/api/v4/projects/:project/repository/files*/package.json",
      "origin": "https://${GITLAB}"
    },
    {
      "//": "used to determine the full dependency tree",
      "method": "GET",
      "path": "/api/v4/projects/:project/repository/files*/package-lock.json",
      "origin": "https://${GITLAB}"
    },
    {
      "//": "used to determine the full dependency tree",
      "method": "GET",
      "path": "/api/v4/projects/:project/repository/files*/Gemfile.lock",
      "origin": "https://${GITLAB}"
    },
    {
      "//": "used to determine the full dependency tree",
      "method": "GET",
      "path": "/api/v4/projects/:project/repository/files*/Gemfile",
      "origin": "https://${GITLAB}"
    },
    {
      "//": "used to determine the full dependency tree",
      "method": "GET",
      "path": "/api/v4/projects/:project/repository/files*/pom.xml",
      "origin": "https://${GITLAB}"
    },
    {
      "//": "used to determine the full dependency tree",
      "method": "GET",
      "path": "/api/v4/projects/:project/repository/files*/requirements.txt",
      "origin": "https://${GITLAB}"
    },
    {
      "//": "used to determine the full dependency tree",
      "method": "GET",
      "path": "/api/v4/projects/:project/repository/files*/yarn.lock",
      "origin": "https://${GITLAB}"
    },
    {
      "//": "used to determine the full dependency tree",
      "method": "GET",
      "path": "/api/v4/projects/:project/repository/files*/build.gradle",
      "origin": "https://${GITLAB}"
    },
    {
      "//": "used to determine the full dependency tree",
      "method": "GET",
      "path": "/api/v4/projects/:project/repository/files*/build.sbt",
      "origin": "https://${GITLAB}"
    },
    {
      "//": "used to determine the full dependency tree",
      "method": "GET",
      "path": "/api/v4/projects/:project/repository/files*/packages.config",
      "origin": "https://${GITLAB}"
    },
    {
      "//": "used to determine the full dependency tree",
      "method": "GET",
      "path": "/api/v4/projects/:project/repository/files*/*.csproj",
      "origin": "https://${GITLAB}"
    },
    {
      "//": "used to determine the full dependency tree",
      "method": "GET",
      "path": "/api/v4/projects/:project/repository/files*/*.vbproj",
      "origin": "https://${GITLAB}"
    },
    {
      "//": "used to determine the full dependency tree",
      "method": "GET",
      "path": "/api/v4/projects/:project/repository/files*/*.fsproj",
      "origin": "https://${GITLAB}"
    },
    {
      "//": "used to determine the full dependency tree",
      "method": "GET",
      "path": "/api/v4/projects/:project/repository/files*/project.json",
      "origin": "https://${GITLAB}"
    },
    {
      "//": "used to check if there's any ignore rules or existing patches",
      "method": "GET",
      "path": "/api/v4/projects/:project/repository/files*/.snyk",
      "origin": "https://${GITLAB}"
    },
    {
      "//": "used to determine the full dependency tree for v3 protocol",
      "method": "GET",
      "path": "/api/v3/projects/:project/repository/files",
      "origin": "https://${GITLAB}",
      "valid": [
        {
          "queryParam": "file_path",
          "values": [
            "**/package.json",
            "**/yarn.lock",
            "**/package-lock.json",
            "**/Gemfile",
            "**/Gemfile.lock",
            "**/pom.xml",
            "**/requirements.txt",
            "**/build.gradle",
            "**/build.sbt",
            "**/.snyk",
            "**/packages.config",
            "**/*.csproj",
            "**/*.vbproj",
            "**/*.fsproj",
            "**/project.json"
          ]
        }
      ]
    },
    {
      "//": "allow webhooks to be added, to allow commits to be checked by Snyk. Rules for what is sent to Snyk are controlled in the `public` accept filters",
      "method": "POST",
      "path": "/api/v4/projects/:project/hooks",
      "origin": "https://${GITLAB}"
    },
    {
      "//": "allow webhooks to be deleted, used to cleanup when a user deactivates or deletes a project",
      "method": "DELETE",
      "path": "/api/v4/projects/:project/hooks/:id",
      "origin": "https://${GITLAB}"
    },
    {
      "//": "used to create commit status messages",
      "method": "POST",
      "path": "/api/v4/projects/:project/statuses/:sha",
      "origin": "https://${GITLAB}"
    },
    {
      "//": "used to create branch for fix merge request",
      "method": "POST",
      "path": "/api/v4/projects/:project/repository/branches",
      "origin": "https://${GITLAB}"
    },
    {
      "//": "used to create commits for fix merge request",
      "method": "POST",
      "path": "/api/v4/projects/:project/repository/commits",
      "origin": "https://${GITLAB}"
    },
    {
      "//": "used to create merge request for fix merge request",
      "method": "POST",
      "path": "/api/v4/projects/:project/merge_requests",
      "origin": "https://${GITLAB}"
    },
    {
      "//": "list the user's groups",
      "method": "GET",
      "path": "/api/v4/groups",
      "origin": "https://${GITLAB}"
    },
    {
      "//": "list of projects in a group",
      "method": "GET",
      "path": "/api/v4/groups/:id/projects",
      "origin": "https://${GITLAB}"
    },
    {
      "//": "get current user. so we'll be able to fetch it's projects",
      "method": "GET",
      "path": "/api/v4/user",
      "origin": "https://${GITLAB}"
    },
    {
      "//": "get user's projects",
      "method": "GET",
      "path": "/api/v4/users/:user/projects",
      "origin": "https://${GITLAB}"
    }
  ]
}
