# your unique broker identifier
BROKER_TOKEN=<broker-token>

# The Base URL for your Nexus Repository Manager
# If not using basic auth this will only be "https://<your.nexus.hostname>"
BASE_NEXUS_URL=https://<username>:<password>@<your.nexus.hostname>

# The URL to your Nexus Repository Manager
NEXUS_URL=$BASE_NEXUS_URL/repository

# The URL of the Snyk broker server
BROKER_SERVER_URL=https://broker.snyk.io

# the fine detail accept rules that allow Snyk to make API requests to your
# Nexus instance
ACCEPT=accept.json

# The path for the broker's internal healthcheck URL. Must start with a '/'.
BROKER_HEALTHCHECK_PATH=/healthcheck

# Provide RES_BODY_URL_SUB with the URL of the Nexus without credentials and http protocol
# This URL substitution is required for NPM integration
# RES_BODY_URL_SUB=http://<your.nexus.hostname>/repository

# Nexus validation url, checked by broker client systemcheck endpoint
# readonly users must have 'nx-metrics-all' privilege enabled to access
# https://support.sonatype.com/hc/en-us/articles/226254487-System-Status-and-Metrics-REST-API
BROKER_CLIENT_VALIDATION_URL=$BASE_NEXUS_URL/service/rest/v1/status/check
BROKER_CLIENT_VALIDATION_JSON_DISABLED=true
