{
  "public": [],
  "private": [
    {
      "method": "HEAD",
      "path": "/",
      "origin": "${BASE_NEXUS_URL}"
    },
    {
      "method": "GET",
      "path": "/service/rest/v1/status",
      "origin": "${BASE_NEXUS_URL}"
    },
    {
      "method": "GET",
      "path": "/service/rest/v1/status/check",
      "origin": "${BASE_NEXUS_URL}"
    },
    {
      "method": "GET",
      "path": "/*",
      "origin": "${NEXUS_URL}"
    }
  ]
}
